*{
    box-sizing: border-box;
    margin: auto;
}

body{
    background-color: black;
}

.title-card{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("./images/Title Screen.png");
    background-size: 100vw;
    background-position: center;
    z-index: 10;
    display: none;
}

.background{
    position: absolute;
    width: 100vw;
    z-index: -1;
    opacity: 0.9;
}

main{
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.header{
    width: 90vw;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.title{
    position: fixed;
    display: flex;
    width: 100%;
}

.content-container{
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.player-input-container{
    display: flex;
    width: 90vw;
    height: 40vh;
    justify-content: space-between;
}

.player-title{
    color: white;
    font-family: 'Share Tech', sans-serif;
    font-size: 3em;
    text-align: center;
}

.player-input-container input{
    width: 25vw;
    height: 5vh;
    background: transparent;
    color: white;
    font-family: 'Share Tech', sans-serif;
    font-size: 2.5em;
    border: none;
    border-bottom: solid 2px white;
    outline: none;
}

.player-2-container{
    display: none;
}

.token-container{
    position: relative;
    display: flex;
    width: 90vw;
    height: 40vh;
    justify-content: space-between;


}

.token{
    width: 15%;
}

.token:hover{
    -webkit-filter: drop-shadow(0px 0px 10px #ffffff);
    filter: drop-shadow(0px 0px 10px #ffffff);
}
