*{
    box-sizing: border-box;
    margin: auto;
}

body {
    background-color: black;
    display: flex;
    margin: 0;
    height:100vh;
    width: 100vw;
}

.background{
    background-color: black;
    position: absolute;
    width: 100vw;
    z-index: -1;
    opacity: 0.9;
}

/*Splash Page*/
.intro-container{
    align-content: center;
    flex-wrap: wrap;
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.title-card{
    display: flex;
    width: 100%;
    align-content: center;
}

.start-button{
    display: flex;
    color: white;
    font-family: 'Share Tech', sans-serif;
    font-size: 3em;
    justify-content: center;
    width: 100%;
}

.start-button:hover{
    cursor: pointer;
    text-shadow: 0 0 10px #ffffff;
}

.player-number-container{
    display: none;
    align-content: center;
    justify-content: center;
    width: 70%;
}

.player-amount{
    display: flex;
    color: white;
    font-family: 'Share Tech', sans-serif;
    font-size: 3em;
    text-align: center;
    z-index: 1;
}

.player-amount:hover{
    cursor: pointer;
    text-shadow: 0 0 10px #ffffff;
}

.main-splash-container{
    display: none;
    height:100vh;
    width: 100vw;
}

.title{
    display: flex;
    width: 100%;
}

main{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.content-container{
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.player-input-container{
    display: flex;
    width: 90%;
    height: 40%;
    justify-content: space-between;
    text-align: center;
}

.player-title{
    color: white;
    font-family: 'Share Tech', sans-serif;
    font-size: 3em;
    text-align: center;
}

.player-input-container input[type=text]{
    width: 25vw;
    height: 7vh;
    background: transparent;
    color: white;
    font-family: 'Share Tech', sans-serif;
    font-size: 2.5em;
    border: none;
    border-bottom: solid 2px white;
    outline: none;
    overflow: hidden;
}

.submit{
    width: 15vw;
    height: 7vh;
    background: transparent;
    color: white;
    font-family: 'Share Tech', sans-serif;
    font-size: 1.5em;
    border: solid 2px white;
}

.submit:hover{
    background: white;
    color: black;
    cursor: pointer;
}

.player-1-container{
    /*display:none;*/
}

.player-2-container{
    display: none;
}

.token-container{
    position: relative;
    display: flex;
    width: 90vw;
    height: 40vh;
    justify-content: space-between;
}

.token {
    width: 15%;
}

.token:hover{
    -webkit-filter: drop-shadow(0px 0px 10px #ffffff);
    filter: drop-shadow(0px 0px 10px #ffffff);
    cursor: pointer;
}

/*Main Game Page*/
#gameBoard {
    display: none;
    justify-content: center;
    margin: auto;
    height: 85%;
    width: 65%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 14%;
    height: 100%;
}

.tile{
    border: 1px solid #00ffff;
    height: 16%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.tokenImg {
    width:auto;
    height:90%;
    opacity: 0.4;
}


